* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.0001);
}

::-webkit-scrollbar {
    display: none;
}

.nav {
    width:1280px;
    margin-top: 31.5px;
    margin-bottom: 31.5px;
}

.nav-item-1 {
    display: inline;
    text-transform: uppercase;
    margin-left: 330px;
    margin-right: 72px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
}

.nav-item-2 {
    display: inline;
    text-transform: uppercase;
    margin-right: 72px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
}

.nav-item-3 {
    display: inline;
    text-transform: uppercase;
    margin-right: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
}

.nav-item-4 {
    display: inline;
    text-transform: uppercase;
    margin-right: 72px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 2.7px;
}

a {
    color: #FF0000;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 49px;
}

.title {
    text-transform: uppercase;
    text-align: left;
    margin-left: 253px;
    color: #373737;
    margin-bottom: 38px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 26.82px;
    letter-spacing: 3.3px;
    width: 1280px;
}

.text-content {
    font-style: normal;
    text-align: center;
    margin-bottom: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 2.4px;
    width: 1145px;
    line-height: 26px;
    color: #373737;
}



.main-content {
    width: 1280px;
    text-align: center;
}

.rectangle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.8px;
    line-height: 12px;
    display: inline;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #FF0000;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 42.5px;
    padding-right: 43.5px;
    border-radius: 4px;

}

.button {
    max-width: 1280px;
    text-align: center;
    margin-bottom: 82px;
    margin-top: 66px;
}

.copyright {
    width: 463px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 29px;
    margin-right: 105px;
}

.footer {
    max-width: 1280px;
}