body {
    margin: auto;
    max-width: 1280px;
}

::-webkit-scrollbar {
    display: none;
}

.logo {
    font-size: 0;
}

.logo-text {
    margin-top: 63px;
    margin-bottom: 40px;
    font-family: Roboto, sans-serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 94px;
    width: 334px;
}

span {
    color: #4BCAFF;
}

a {
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;

}

.nav {
    width: 1280px;
    background-color: #35444F;
    height: 69px;
    display: flex;
}

/*li:hover {
    background-color: #222F3A;
}*/

li {
    display: flex;
}

.menu-items {
    margin: 0 auto;
    display: flex;
    margin-top: 24px;
    margin-bottom: 18px;
}

.menu-item-1 {
    margin: 0 32px 0 32px;
}

.menu-item-2 {
    margin: 0 36px 0 36px;
}

.menu-item-3 {
    margin: 0 40px 0 40px;
}

.menu-item-4 {
    margin: 0 40px 0 40px;
}

/* in progress */